{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="pure-u-5-5">
            <div class="pure-alert pure-alert-{{ category}}">
                <label><strong>{{ category }}</strong></label>
                {{ message }}
            </div>
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="pure-u-5-5">
    <form method="post" action="/add_process" class="pure-form form-block pure-form-stacked">
        <input type="text" class="pure-u-sm-1-2 pure-u-1-1" placeholder="Name" name="name" id="name" autofocus required>
        <textarea class="pure-u-sm-1-2 pure-u-1-1" placeholder="Insert your quote here" name="quote" id="quote" rows="5" required></textarea>
        <button type="submit" class="pure-button pure-u-sm-1-2 pure-u-1-1 pure-button-primary">Add quote</button>
    </form>
</div>
{% endblock %}
